@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.form-wrapper {
  width: 550px;
  border-radius: 60px;
  margin: 0 auto;
  border-color: #000;
  
}

.App {
  text-align: center;
  margin-top: 100px;
}

nav {
  width: 100%;
  margin: 0 auto;
  background: #261073;
  /* display:flex;
  position:relative;
  z-index: 99; */
  height: 70px;
  line-height: 70px; 
  align-items: center;
}

nav ul li {
  display:inline-flex;
  list-style-type: none;
  text-align: center;
  padding: 30px;
}

nav ul li a {
  margin: 50px 0;
  font-weight: bold;
  color: rgb(255, 253, 253);
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

table {
  margin-top: 50px;
  color: rgb(243, 242, 247, 0.968);
  
  border-radius: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3vh;
  position: relative;
  z-index: 2;
  
}
.page-heading p {
  font-size: 1rem;
  color:antiquewhite;
  background:rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  border-radius: 1px;
}

.page-heading h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .page-heading h1 {
    font-size: 3rem;
  }
}
.slider {
  position:relative;
  height: 80vh;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.GlobalBank {
  width: 1000px;
  height: 600px;
  border-radius: 5px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  
}

